.center{ margin: auto; width: 10%;
}
h1{
text-align:center;
}
input{
border-radius:5px; padding:7px;
}
home.html
<html>
<head>
<title>Home</title>
</head>
<body style="text-align:center">
<h2>Welcome {{username}} </h2><br/><br/>
<b>Username</b> - {{username}}<br/><br/>
<b>Email Address</b> - {{email}}<br/><br/>
<b>Phone number</b> - {{phone}}<br/><br/>
</body>
</html>
